.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--dark-bg);
    z-index: 1000;
}

.item {
    padding: 10px 25px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: var(--text);
    cursor: pointer;
}
