:root {
    // redesigned
    --dark-bg: #fff;
    --bg: #eff5f6;
    --light-bg: #e2eef1;
    --text: #141c1f;
    --hint: #adbcc0;
    --cancel: #f77;
    --save: #62de85;
    --icon: #5ed3f3;
    --accent: #00c8ff;

    // Skeleton
    --skeleton-color: #adf4f7;
    --skeleton-shadow: rgb(30 253 246);

    // code
    --code-bg: #77dde9;

    // article-card
    --card-bg: #56d6e4;

    // list-box
    --listbox-bg: #56d6e4;
}
