:root {
    --bg-color: #08bed2;
    --inverted-bg-color: #f4f4fb;
    --primary-color: #f4fafb;
    --secondary-color: #f4f4fb;
    --inverted-primary-color: #19834f;
    --inverted-secondary-color: #06ac5c;

    // Skeleton
    --skeleton-color: #adf4f7;
    --skeleton-shadow: rgb(30 253 246);

    // code
    --code-bg: #77dde9;

    // article-card
    --card-bg: #56d6e4;

    // list-box
    --listbox-bg: #56d6e4;
}
