.app_orange_theme {
    --bg-color: #d28108;
    --inverted-bg-color: #fbf8f4;
    --primary-color: #fbf8f4;
    --secondary-color: #ac1406;
    --inverted-primary-color: #ac1406;
    --inverted-secondary-color: #be4034;

    // Skeleton
    --skeleton-color: #e1c722;
    --skeleton-shadow: #e7e410;
}
