.app_orange_theme {
    // redesigned
    --dark-bg: #fff3d6;
    --bg: #f0c048;
    --light-bg: #f2d791;
    --text: #1b1311;
    --hint: #b8b2a2;
    --cancel: #ff5e5e;
    --save: #52fa81;
    --icon: #4875f0;
    --accent: #1d59ff;

    // Skeleton
    --skeleton-color: #e1c722;
    --skeleton-shadow: #e7e410;

    // code
    --code-bg: #f0ba69;

    // article-card
    --card-bg: #dfa34a;

    // list-box
    --listbox-bg: #dfa34a;
}
