.ListBox {
    position: relative;
}

.options {
    background: var(--dark-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 4px 4px 4px var(--dark-bg);
}

.item {
    cursor: pointer;
    padding: 10px 20px;
}
