.ListBox {
    position: relative;
}

.options {
    background: var(--dark-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 12px;
}

.item {
    cursor: pointer;
    padding: 10px 20px;
}
