.Navbar {
    padding: 16px;
}

.links,
.actions {
    margin-left: auto;

    @media (max-width: 960px) {
        flex-direction: column-reverse;
    }
}

.mainLink {
    margin-right: 15px;
}

.appName {
    margin-left: 15px;
}
