.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    min-height: 50vh;
}

.loader,
.error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
